
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color: #a8dadc;
}
nav{
    text-align: center;
    padding: 0.8rem;
}
nav a{
    padding: 1rem;
    text-decoration: none;
    color: #1d3557;
}
div{
    margin: auto;
}
h1{
    color: #1d3557;
    text-align: center;
    padding: 2rem;
}
label{
    color: #1d3557;
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 2rem auto 0 auto;
}
.input{
    margin: 0.6rem auto;
    display: block;
}
button{
        display: block;
        margin: 1rem auto;
    color: #1d3557;
}