@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color: #a8dadc;
}
:root{
    --bgColor: #a8dadc;
    --mainColor: #1d3557;
}
nav{
    text-align: center;
    padding: 0.8rem;
}
nav a{
    padding: 1rem;
    text-decoration: none;
    color: #1d3557;
}

p{
    text-align: center;
    color: var(--mainColor);
    margin: 3rem;
}
label{
    text-align: center;
    display: block;
    margin: 1rem auto 0 auto;
    color:var(--mainColor)
}
#btn{
    color: var(--mainColor);
    display: block;
    margin: 0 auto;

}